.discord:hover {
  background-color: #4e59d2 !important;
}
.twitch:hover {
  /* width: 43rem; */
  width: 38.5rem;
  height: 9.4rem;
  transform: translateY(-1.8rem);
}
.patreon:hover {
  width: 23rem;
}
.youtube:hover {
  width: 33rem;
}
.streamelements:hover {
  width: 27.3rem;
}

@media screen and (min-width: 832px) and (max-width: 1156px) {
  .twitch:hover ~ .discord {
    width: 6rem;
  }
  .youtube:hover ~ .discord {
    width: 6rem;
  }
}

@keyframes late-text-visibility {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0%;
  }
}

.twitch .text {
  position: absolute;
}

.twitch:hover .text {
  /* max-width: 22ch; */
  display: inline-block;
  text-align: center;
  transform: translateY(1.6rem);
  animation: late-text-visibility 1s;
}
.twitch:not(:hover) .text {
  display: none;
}
.twitch:hover .icon-box {
  transform: translateY(1.8rem);
}
@media screen and (max-width: 832px) {
  .twitch {
    height: fit-content !important;
    display: flex !important;
    padding: 2rem 0 !important;
    justify-content: center;
    gap: 0.5rem;
  }
  .twitch .text {
    display: inline-block !important;
    position: relative;
    margin: 0;
  }
  .twitch:hover {
    transform: translateY(0);
  }
  .twitch:hover .text {
    /* max-width: 22ch; */
    transform: translateY(0);
    animation: none;
  }
  .twitch:hover .icon-box {
    transform: translateY(0);
  }
}

@media screen and (max-width: 420px) {
  .twitch .icon-box {
    transform: translateY(0) translateX(-1.5rem);
  }
  .twitch:hover .icon-box {
    transform: translateY(0) translateX(-1.5rem);
  }
  .twitch .text {
    transform: translateY(0) translateX(-2rem);
  }
  .twitch:hover .text {
    transform: translateY(0) translateX(-2rem);
  }
}
