.heading {
  margin-bottom: 2rem;
}
.aboutText {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.aboutText p:last-child {
  margin-top: 0.5rem;
}

@media (min-width: 56.25em) {
  .aboutBox {
    max-width: 92ch;
    margin-inline: auto;
  }
}
@media (max-width: 56.25em) {
  .aboutBox {
    max-width: 88ch;
  }
}
@media (max-width: 500px) {
  .aboutBox {
    max-width: 66ch;
  }
}
