.vscode
/node_modules
**/node_modules
/private-batch-scripts

/todo.txt
/planning.txt
/begin-with-todo.txt
/UX-questions.txt
/.codebuddy
/.codeReference
/hidden-explanations
/archive

.env.local
.env.production
.env.staging
.env.db-root-creds
.env.db-voccaria

/personal-playground