/todo.txt
/planning.txt
.vscode
/begin-with-todo.txt
/UX-questions.txt
/node_modules
/.codebuddy
/.codeReference
/hidden-explanations
/archive

# avoid newer folder structure on the dev branch create conflict
/server