.section {
  background-color: var(--lavender-blush-150);
}
.continaer {
  max-width: 114rem;
  margin-inline: auto;
  padding-inline: 5%;

  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  gap: 15rem;
}
.textbox {
  max-width: 80ch;
}
.image {
  width: 27.5rem;
  border-radius: var(--usual-border-radius);
}

@media screen and (max-width: 948px) {
  .continaer {
    gap: 8rem;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 799px) {
  .continaer {
    gap: 4rem;
    grid-template-columns: 1.3fr 1fr;
  }
  .image {
    width: 100%;
  }
}
@media screen and (max-width: 799px) {
  .continaer {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 4.8rem;
  }
  .textbox {
    max-width: 78ch;
  }
  .image {
    width: 30rem;
  }
}
@media screen and (max-width: 446px) {
  .image {
    width: 66vw;
  }
  .continaer {
    padding-inline: 8%;
  }
}
