.container {
  display: flex;
  flex-direction: column;
  background-color: var(--white-primary);
  z-index: 1001;
  height: 100vh;
  width: 40%;
  transition: all 0.2s ease;
  overflow-y: scroll;

  /* Go to the left side */
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.come {
  transform: translateX(0);
}
.menuIcon {
  cursor: pointer;
  align-self: flex-start;
  width: 3.2rem;
  margin-top: 1.4rem;
  margin-left: 4.4rem;
  margin-bottom: 20px;
  fill: var(--gray-800);
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}
.link {
  cursor: pointer;
  font-weight: 500;
  color: var(--gray-800);
  display: block;
  font-size: 1.8rem;
  padding: 1.4rem 0;
  padding-left: 4.8rem;
  width: 100%;
  border-bottom: var(--border-gray-200);
}
.link:last-child {
  border-bottom: none;
}
.link:hover {
  color: var(--brand-primary-700);
}

/* 1136 > */
@media (min-width: 80em) {
  .container {
    width: 20%;
  }
}

@media (max-width: 35.125em) {
  .container {
    width: 62%;
  }
  .link {
    font-size: 2.2rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
}
@media (max-width: 25.5em) {
  .container {
    width: 69%;
  }
  .menuIcon {
    margin-top: 0.5rem;
    width: 3.6rem;
  }
}

@media (max-height: 31.125em) {
  .container {
    padding-bottom: 9.6rem;
  }
}

/* @media (min-width: 53em) {
  .container {
    display: none;
  }
} */
