.box {
  background-color: var(--lavender-blush-150);
  padding: 4rem;
  border-radius: var(--usual-border-radius);
  transition: var(--default-transition);
  padding-bottom: 5.8rem;
  width: fit-content;
  height: fit-content;
}
.box:nth-child(1) {
  justify-self: end;
}
.box:nth-child(2) {
  justify-self: start;
}
.free {
  border: var(--border-black);
}
.heading {
  margin-bottom: 3.2rem;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  min-height: 34rem;
}
.li {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  align-items: flex-start;
}
.icon {
  font-size: 2rem;
  transform: translateY(0.5rem);
}
.para {
  max-width: 32ch;
}
.btn {
  background-color: var(--white-primary);
  color: var(--gray-800);
  display: block;
  border-radius: var(--usual-border-radius);
  padding: 1.6rem 1.4rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  margin-top: 3.4rem;
  transition: var(--default-transition);
}
.free .icon {
  color: var(--gray-800);
}
.free .para {
  color: var(--black-primary);
}
.free .btn {
  border: var(--border-black);
}
.free .btn:hover {
  background-color: var(--cranberry-600);
  border: var(--border-black);
  color: var(--white-primary);
}
.listNBtn {
  display: flex;
  flex-direction: column;
  position: relative;
}
.brand {
  background-color: var(--cranberry-600);
  border: var(--border-black);
}
.brand .heading,
.brand .icon,
.brand .para {
  color: var(--white-primary);
}
.brand .para {
  font-weight: 700;
}
.brand .btn {
  border: var(--border-black);
}
.brand .btn:hover {
  background-color: var(--brand-secondary-400);
  border: var(--border-black);
  color: var(--white-primary);
}
.lightInfo {
  position: absolute;
  bottom: -3.2rem;
  /* bottom: -7%; */
  font-size: 1.4rem;
}

@media screen and (min-width: 841px) and (max-width: 1005px) {
  .lightInfo {
    bottom: -4.6rem;
  }
}

@media screen and (max-width: 840px) {
  .box:nth-child(2),
  .box:nth-child(1) {
    justify-self: center;
  }
  .list {
    min-height: auto;
  }
  .para {
    max-width: 37ch;
  }
}
@media screen and (max-width: 420px) {
  .box {
    padding-inline: 7%;
  }
}
@media screen and (max-width: 427px) {
  .lightInfo {
    bottom: -5rem;
  }
  .box {
    padding-bottom: 5.2rem;
  }
  .brand {
    padding-bottom: 7.2rem;
  }
}
