.block {
  height: 7.2rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.container {
  gap: 2rem;
  max-width: 150rem;
  padding: 0 5%;
}

.navLinkWrapper {
  gap: 3.2rem;
  font-size: 1.6rem;
}

/* Adjust navbar bigger screens */
@media (min-width: 100em) {
  .container {
    max-width: 180rem;
  }
}

@media (max-width: 27em) {
  .navLinkWrapper {
    font-size: 1.85rem;
    gap: 2.8rem;
  }
}
