.boxPair {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  align-items: start;
}

.responsiveLineBreak {
  display: none;
}

@media screen and (max-width: 840px) {
  .boxPair {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 427px) {
  .responsiveLineBreak {
    display: inline;
  }
}
