.socialsSection {
  padding-top: 0;
  padding-bottom: 0;
  padding-inline: 5%;
  border-bottom: var(--border-gray-200);
}
.wrapper {
  display: flex;
  gap: 2.4rem;
  max-width: 120rem;
  margin: 0 auto;
  justify-content: center;
  height: 14rem;
}
.icon {
  display: inline-block;
  font-size: 2.5rem;
  line-height: 6rem;
  color: var(--white-primary);
}

.streamElementsLogo {
  display: inline-block;
  width: 10rem;
  transform: translateY(-5%);
}

@media screen and (max-width: 832px) {
  .wrapper {
    flex-direction: column;
    height: 100%;
    gap: 3.2rem;
  }
  .socialsSection {
    padding-top: 6rem;
    padding-bottom: 8rem;
  }
}
