.section {
  margin-bottom: 9.6rem;
  padding-inline: 5%;
}
.container {
  background-color: var(--brand-secondary-300);
  max-width: 85rem;
  height: 30rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  border-radius: var(--usual-border-radius);
  overflow: hidden;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  border: var(--border-black);
}
.avatar {
  width: 28rem;
  align-self: end;
}
.textbox {
  align-self: center;
}
.heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
  color: var(--gray-800);
}
.btn {
  margin-top: 4rem;
}

@media screen and (max-width: 725px) {
  .container {
    grid-template-columns: 1fr;
    height: auto;
  }
  .textbox {
    padding-top: 5rem;
    padding-inline: 5rem;
  }
  .avatar {
    grid-row: 2;
    justify-self: end;
    margin-right: 7rem;
  }
}
@media screen and (max-width: 450px) {
  .section {
    background-color: var(--brand-secondary-300);
    margin-inline: 0;
    margin-bottom: 0;
    padding-top: 6rem;
  }
  .container {
    gap: 2rem;
    /* box-shadow: none; */
    border: none;
  }
  .textbox {
    padding-inline: 5%;
    padding-top: 0;
  }
  .avatar {
    margin-right: 5%;

    /* consideration */
    width: 65vw;
  }
  .btn {
    padding: 1.4rem 5rem;
  }
  .heading {
    line-height: 1.5;
  }
}
@media screen and (max-width: 379px) {
  .heading {
    font-size: 2.8rem;
  }
  .textbox {
    padding-inline: 2%;
  }
}
