@import "tailwindcss";

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --white-primary: #fff;
  --black-primary: #232838;

  --gray-100: #f3f4f7;
  --gray-200: #dddee1;
  --gray-300: #b7b8ba;
  --gray-800: #2f354b;

  --brand-primary-500: #df5384;
  --brand-primary-500--hover: #ba3a67;
  --brand-primary-700: #c4265d;
  --brand-primary-800: #aa1146; /* or a2204d; */

  --brand-secondary-300: #a2b6ff;
  --brand-secondary-400: #8199ee;

  --gradient-primary: linear-gradient(
    to top left,
    var(--brand-primary-700),
    #fa85ae
  );

  --success-primary-500: #059669;
  --error-primary-500: #ef4444;

  --magnolia-200: #f3f0ff;

  --lavender-blush-150: #fff0f6;
  --lavender-blush-200: #ffedf5;

  --pig-pink-200: #fff5fa;
  --pig-pink-300: #ffd8ec;

  --affair-500: #835c9a;
  --affair-600: #693f82;

  --cranberry-600: #d6437e;

  --testimonial-box-shadow: rgba(230, 71, 127, 0.298);

  --font-size-heading-secondary: 3.6rem;
  --font-size-paragraph-primary: 1.8rem;
  --font-size-span-small: 1.5rem;

  --default-transition: all ease 0.15s;

  --border-gray-100: 0.5px solid var(--gray-100);
  --border-gray-200: 1px solid var(--gray-200);
  --border-gray-300: 1px solid var(--gray-300);
  --border-black: 1px solid var(--gray-800);

  --white-transparent: rgba(255, 255, 255, 0.9);

  --usual-border-radius: 12px;
}

/* Misc */
::selection {
  background-color: var(--affair-500);
  color: var(--white-primary);
}

/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* Section defaults */
.block {
  padding: 9.6rem 0;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5%;
}

/* Typography */
p,
blockquote,
textarea,
input,
span {
  word-spacing: 0.8pt;
}
strong {
  font-weight: 700;
}
b {
  font-weight: 600;
}
.section-heading {
  font-weight: 700;
  font-size: var(--font-size-heading-secondary);
  line-height: 1.3;
  margin-bottom: 2.4rem;
  color: var(--gray-800);
  letter-spacing: -1px;
}
.heading-h3 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--gray-800);
}
.goto-paragraph {
  color: var(--black-primary);
  font-size: var(--font-size-paragraph-primary);
  line-height: 1.7;
}

/* Button */
.btn {
  display: inline-block;
  font-size: var(--font-size-paragraph-primary);
  font-weight: 600;
  background-color: var(--white-primary);
  padding: 1.2rem 4rem;
  border-radius: 12px;
  transition: var(--default-transition);
}
button:disabled {
  cursor: not-allowed;
  filter: brightness(95%);
}

/* nice scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.01);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brand-primary-500);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--brand-primary-700);
}

.inline-a {
  color: var(--brand-primary-800);
  font-weight: 500;
}
.inline-a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.seo-purpose-and-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0); /* Modern method for off-screen content */
}

/* Scale shift */
/* 1118px */
@media (max-width: 69.875em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  :root {
    --font-size-paragraph-primary: 1.86rem;
  }
}
@media (max-width: 500px) {
  .block {
    padding: 7.2rem 0;
  }
}
