@import "tailwindcss";

@theme {
  --color-dull-violet-100: #f3eff6;
  --color-dull-violet-200: #dccee4;
  --color-dull-violet-300: #c4add2;
  --color-dull-violet-400: #ad8cc0;
  --color-dull-violet-500: #956bae;
  --color-dull-violet-600: #7c5194;
  --color-dull-violet-700: #603f73;
  --color-dull-violet-800: #452d52;
  --color-dull-violet-900: #291b31;

  --color-my-violet-100: #f4eafa;
  --color-my-violet-200: #dfc0f1;
  --color-my-violet-300: #ca96e8;
  --color-my-violet-400: #b56cdf;
  --color-my-violet-500: #a042d6;
  --color-my-violet-600: #8629bd;
  --color-my-violet-700: #682093;
  --color-my-violet-800: #4a1769;
  --color-my-violet-900: #2d0e3f;

  --color-my-pink-100: #fde7f2;
  --color-my-pink-200: #fab7d8;
  --color-my-pink-300: #f787be;
  --color-my-pink-400: #f457a4;
  --color-my-pink-500: #f1278a;
  --color-my-pink-600: #d80e70;
  --color-my-pink-700: #a80b57;
  --color-my-pink-800: #78083e;
  --color-my-pink-900: #480525;

  --color-my-warm-pink-100: #fce8f0;
  --color-my-warm-pink-200: #fce8f0;
  --color-my-warm-pink-300: #f7bbd2;
  --color-my-warm-pink-400: #f18db4;
  --color-my-warm-pink-500: #ec6097;
  --color-my-warm-pink-600: #e63279;
  --color-my-warm-pink-700: #9f134a;
  --color-my-warm-pink-800: #720e35;
  --color-my-warm-pink-900: #440820;

  --color-my-indigo-100: #e5ebff;
  --color-my-indigo-200: #b3c3ff;
  --color-my-indigo-300: #809bff;
  --color-my-indigo-400: #4d73ff;
  --color-my-indigo-500: #1a4bff;
  --color-my-indigo-600: #0031e6;
  --color-my-indigo-700: #0026b3;
  --color-my-indigo-800: #001b80;
  --color-my-indigo-900: #00104d;

  --color-my-gold-100: #fff7e5;
  --color-my-gold-200: #ffe8b3;
  --color-my-gold-300: #ffd980;
  --color-my-gold-400: #ffc94d;
  --color-my-gold-500: #ffba1a;
  --color-my-gold-600: #e6a000;
  --color-my-gold-700: #b37d00;
  --color-my-gold-800: #805900;
  --color-my-gold-900: #4d3500;

  --color-my-teal-100: #e9fbfb;
  --color-my-teal-200: #bef4f3;
  --color-my-teal-300: #92eceb;
  --color-my-teal-400: #67e5e3;
  --color-my-teal-500: #3bdddb;
  --color-my-teal-600: #22c4c2;
  --color-my-teal-700: #1a9897;
  --color-my-teal-800: #136d6c;
  --color-my-teal-900: #0b4141;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

.header-margin {
  margin-top: 11rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --white-primary: #fff;
  --black-primary: #232838;

  --gray-100: #f3f4f7;
  --gray-200: #dddee1;
  --gray-300: #b7b8ba;
  --gray-800: #2f354b;

  --brand-primary-500: #df5384;
  --brand-primary-500--hover: #ba3a67;
  --brand-primary-700: #c4265d;
  --brand-primary-800: #aa1146; /* or a2204d; */

  --brand-secondary-300: #a2b6ff;
  --brand-secondary-400: #8199ee;

  --gradient-primary: linear-gradient(
    to top left,
    var(--brand-primary-700),
    #fa85ae
  );

  --success-primary-500: #059669;
  --error-primary-500: #ef4444;

  --magnolia-200: #f3f0ff;

  --lavender-blush-150: #fff0f6;
  --lavender-blush-200: #ffedf5;

  --pig-pink-200: #fff5fa;
  --pig-pink-300: #ffd8ec;

  --affair-500: #835c9a;
  --affair-600: #693f82;

  --cranberry-600: #d6437e;

  --testimonial-box-shadow: rgba(230, 71, 127, 0.298);

  --font-size-heading-secondary: 3.6rem;
  --font-size-paragraph-primary: 1.8rem;
  --font-size-span-small: 1.5rem;

  --default-transition: all ease 0.15s;

  --border-gray-100: 0.5px solid var(--gray-100);
  --border-gray-200: 1px solid var(--gray-200);
  --border-gray-300: 1px solid var(--gray-300);
  --border-black: 1px solid var(--gray-800);

  --white-transparent: rgba(255, 255, 255, 0.9);

  --usual-border-radius: 12px;
}

/* Misc */
::selection {
  background-color: var(--affair-500);
  color: var(--white-primary);
}

/* Resets */
*[class="old-scaling"] {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html.old-scaling {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* Section defaults */
.section-block {
  padding: 9.6rem 0;
}
.old-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5%;
}

/* Typography */
p,
blockquote,
textarea,
input,
span {
  word-spacing: 0.8pt;
}
strong {
  font-weight: 700;
}
b {
  font-weight: 600;
}
.section-heading {
  font-weight: 700;
  font-size: var(--font-size-heading-secondary);
  line-height: 1.3;
  margin-bottom: 2.4rem;
  color: var(--gray-800);
  letter-spacing: -1px;
}
.heading-h3 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--gray-800);
}
.goto-paragraph {
  color: var(--black-primary);
  font-size: var(--font-size-paragraph-primary);
  line-height: 1.7;
}

/* Button */
.btn {
  display: inline-block;
  font-size: var(--font-size-paragraph-primary);
  font-weight: 600;
  background-color: var(--white-primary);
  padding: 1.2rem 4rem;
  border-radius: 12px;
  transition: var(--default-transition);
}
button:disabled {
  cursor: not-allowed;
  filter: brightness(95%);
}

/* nice scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.01);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brand-primary-500);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--brand-primary-700);
}

.inline-a {
  color: var(--brand-primary-800);
  font-weight: 500;
}
.inline-a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.seo-purpose-and-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0); /* Modern method for off-screen content */
}

/* Scale shift */
/* 1118px */
@media (max-width: 69.875em) {
  html.old-scaling {
    font-size: 56.25%;
  }
}

@media (max-width: 500px) {
  html.old-scaling {
    font-size: 50%;
  }
  :root {
    --font-size-paragraph-primary: 1.86rem;
  }
}
@media (max-width: 500px) {
  .section-block {
    padding: 7.2rem 0;
  }
}
