@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* Misc */
::selection {
  background-color: #835c9a;
  color: #fff;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-gray: #222;
  --secondary-gray: #2b2b2b;

  --font-size-h1: 3.2rem;
  --font-size-secondary-heading: 3.6rem;
  --font-size-tertiary: 2.4rem;
  --font-size-small-p: 1.5rem;
  --font-size-p-primary: 1.8rem;
}

/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* Section defaults */
.block {
  padding: 9.6rem 0;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5%;
}

/* Typography */
p {
  word-spacing: 0.8pt;
}
.section-heading {
  font-weight: 700;
  font-size: var(--font-size-secondary-heading);
  line-height: 1.3;
  margin-bottom: 2.4rem;
}
.goto-paragraph {
  color: #000;
  font-size: var(--font-size-p-primary);
  line-height: 1.7;
}

/* Button */
.btn {
  display: inline-block;
  font-size: var(--font-size-p-primary);
  font-weight: 600;
  background-color: #fff;
  padding: 1rem 4rem;
  border-radius: 12px;
  transition: all ease 0.15s;
}

/* Scale shift */
@media (max-width: 68em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
