.wrapper {
  display: flex;
  flex-direction: column;
  border: var(--border-black);
  width: fit-content;
  overflow: hidden;
  border-radius: var(--usual-border-radius);
}
.item {
  display: inline-block;
  padding: 2.4rem;
  border-bottom: var(--border-black);
  transition: var(--default-transition);
}
.item:last-child {
  border-bottom: none;
}
.item:hover,
.item:hover .description,
.item:hover .heading {
  background-color: var(--brand-primary-500);
  color: var(--white-primary);
}
.heading {
  margin-bottom: 0.6rem;
}
.description {
  max-width: 35ch;
  color: var(--gray-800);
}

@media (max-width: 50.5em) {
  .description {
    max-width: 100%;
  }
}
@media (max-width: 25em) {
  .heading {
    font-size: 2.6rem;
  }
}
