.contianer {
  display: block;
  height: 100%;
}
.flex {
  display: flex;
  align-items: stretch;
  gap: 4rem;
  height: 100%;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  color: var(--gray-800);
  font-weight: 500;
  font-size: var(--font-size-span-small);
  transition: color 0.1s;
}
.link:hover {
  color: var(--brand-primary-700);
}
.link.active {
  color: var(--brand-primary-700);
  border-bottom: 3px solid var(--brand-primary-700);
  padding-top: 3px;
}

/* Adjust navbar bigger screens */
@media (max-width: 83.375em) and (min-width: 66em) {
  .link {
    font-size: 1.2rem;
  }
}

@media (max-width: 73em) and (min-width: 66em) {
  .flex {
    gap: 3rem;
  }
}
@media (max-width: 66em) and (min-width: 53em) {
  .flex {
    gap: 2rem;
  }
  .link {
    font-size: 1.2rem;
  }
}

/* Remove */
@media (max-width: 53em) {
  .contianer {
    display: none;
  }
}
