.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);

  animation: fadeIn 0.2s ease-out; /* Add fadeIn animation */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-primary);
  transition: all 0.5s;
  width: 60rem;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Chrome, etc. */
  max-height: 80vh;
  height: auto;
  border-radius: var(--usual-border-radius);

  animation: slideIn 0.2s ease-out; /* Add slideIn animation */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.8rem 3rem;
  border-bottom: var(--border-gray-300);
}
.heading {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: -0.8px;
  color: var(--gray-800);
}
.crossIcon {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
.main {
  padding: 3rem 3rem;
}

@media (max-width: 33.25em) {
  .popup {
    width: 93%;
  }
}

/* Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
  }
}
