.section {
  border-bottom: var(--border-gray-200);
}
.container {
  grid-template-columns: 0.9fr 1fr;
}
.imgBox {
  align-self: center;
  z-index: -5;
}
.textPortion {
  justify-self: center;
  width: 100%;
}
.image {
  transform: scale(1.7) translateX(-9%);
}

@media (max-width: 50.5em) {
  .container {
    grid-template-columns: 1fr;
  }
  .imgBox {
    grid-row: 2 / 3;
    width: 100%;
    overflow: hidden;
  }
  .textPortion {
    justify-self: center;
  }
  .image {
    transform: scale(1.3) translateX(0);
    object-fit: contain;
    overflow: hidden;
  }
}
