.button {
  display: inline-block;
  height: 6rem;
  width: 6rem;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  overflow: hidden;
  transition: all 0.3s ease;
}
.button:first-child {
  width: 35rem;
}
.iconBox {
  display: inline-block;
  text-align: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 6.5rem;
  transition: all 0.3s ease-out;
}
.text {
  color: #fff;
  text-shadow: 1.6px 1.6px 1.6px rgba(0, 0, 0, 0.1),
    2px 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1rem;
  transition: all 0.5s ease-out;
  line-height: 1.6;
  position: relative;
  top: -2%;
}
.text:hover {
  text-decoration: none;
}

@media screen and (max-width: 832px) {
  .button:hover:not(:first-child) {
    width: 6rem;
    transform: scale(1.1);
  }
}
@media screen and (max-width: 532px) {
  .button {
    transform: scale(1.1);
  }
  .button:first-child {
    width: 6rem;
  }
  .button:hover {
    transform: scale(1.3);
  }
}
