{
  "jsc": {
    "experimental": {
      "plugins": []
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "development": true,
        "refresh": true
      }
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    }
  },
  "minify": false,
  "module": {
    "type": "es6"
  }
}
