.card {
  background-color: #fff;
  height: 46rem;
  width: 44rem;
  margin: 0 auto;
  padding: 4rem;
  padding-top: 5rem;
  border-radius: var(--usual-border-radius);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border: var(--border-black);
  overflow: hidden;
}
.flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.price {
  display: block;
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.name {
  display: block;
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3.4rem;
  line-height: 1.4;
}
.price,
.description,
.name {
  text-align: center;
  color: var(--gray-800);
}
.description,
.description strong {
  color: var(--gray-800);
  line-height: 1.5;
  margin-bottom: auto;
  font-size: 1.7rem;
}
.recommendedTagContainer {
  position: relative;
}
.recommendedTag {
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: var(--font-size-paragraph-primary);
  letter-spacing: 0.5pt;
  background-color: var(--brand-primary-500);
  left: 50%;
  top: 0;
  padding: 0.3rem 2rem;
  transform: translateX(-50%);
  border: var(--border-black);
  border-top: none;
}
.btn {
  background-color: var(--brand-primary-500);
}
.btn:hover {
  background-color: var(--brand-primary-500--hover);
}

/* adjustments */
@media (min-width: 48.375em) {
  .card:nth-child(4),
  .card:nth-child(5) {
    padding-top: 7rem;
  }
  .cardMoreHeight:nth-child(4),
  .cardMoreHeight:nth-child(5) {
    height: 47.2rem;
  }
}

@media (min-width: 48.375em) {
  .recordingReviewCard {
    grid-column: 1 / -1;
    width: 80%;
    height: 46rem;
  }
  .recordingReviewCard h3,
  .recordingReviewCard p {
    padding-inline: 1rem;
  }
}
@media (max-width: 54.0625em) and (min-width: 48.375em) {
  .recordingReviewCard {
    height: auto;
    width: 47rem;
    padding-bottom: 4rem !important;
    padding-top: 5rem;
  }
  .recordingReviewCard h3,
  .recordingReviewCard p {
    padding-inline: 0;
  }
  .recordingReviewCard p {
    margin-bottom: 6rem;
  }
}

@media (max-width: 48.375em) {
  .card {
    height: auto;
    width: 47rem;
    padding-bottom: 4rem !important;
    padding-top: 5rem;
  }
  .recommendedTagContainer {
    padding-top: 9rem;
  }
  .price {
    font-size: 5.6rem;
  }
  .name {
    font-size: 2.4rem;
  }
  .description {
    margin-bottom: 8rem;
    font-size: 1.915rem;
    line-height: 1.6;
  }
}

@media (max-width: 26.375em) {
  .card {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
